.node{
	border: 3px solid black;
	margin: 5px;
	border-radius: 20px;
	padding: 15px;
}

.node:hover{
	background-color: #bdffc3;
	/* Todo: make it a color stored in the div */
}

.detach{
	float: right;
}

body{
	background-color: #dcdcdc;
}
